/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{padding:0;
margin:0;
box-sizing: border-box;
}

/*general styles */
body {min-height: 100vh;
display: flex;
flex-direction: column;}

h1, h2, h3 {font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    letter-spacing: 2px;
    color:#252525;}

/* generic project styles*/
color: #3a3a3a;
font-family: 'Lato', sans-serif;}

/* Header */
header {background-color:white;
padding:0 1rem;
position: fixed;
z-index: 99;
width:100%;
box-shadow: 0 2px 2px #3a3a3a;
display: flex;
justify-content: space-between;
align-items: baseline;}




#menu {font-size: 110%;
letter-spacing: 4px;
list-style-type: none;}

#menu > li {margin-bottom: 1rem;}
.active {border-bottom: 1px solid #3a3a3a;}

/* navbar style with dropdown toggle */
nav {position:absolute;
background-color:white;
width:100%;
left:0;
padding: 0 1rem;
box-shadow: 0 2px 2px #3a3a3a;
display:none;
top: 100%;
}
/* nav toggle */
#nav-toggle {display: none;}
#nav-toggle:checked ~ nav {
display:block;
}
.nav-toggle-label {font-size: 2rem;
display: none;}
header a {text-decoration: none;
color:inherit}

#logo {font-size: 280%;
line-height: 75px;
margin: 0 0.5rem}

/* Main */
main {
    margin-top: 79px;
flex: 1 0 auto ;
margin-top: 47px;}


#cover-text {width: 300px;
right: 50px;}
/* Hero section */ 

#hero {height: 600px;
width: 100%;

background-image:url("../images/hero.webp");
background-repeat:no-repeat;
background-position: center;
 background-size: cover;
 display: flex;

 justify-content: center;
 align-items: center;
 position: relative;

}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle-cover-bg {background-image: url('../images/reasons-image.webp');
background-repeat: no-repeat top;
background-size: cover;
justify-content: center;
align-items: center;
margin-bottom: 20px;
height: 90vw;
width: 90vw;

/* make square image into a cirlce*/
border-radius: 50%;
max-width: 300px;
max-height: 300px;

}

#cover-text {background-color: rgba(241, 109, 107, .7);
font-size: 130%;
position: absolute;
bottom: 30px;
width: 80%;
min-height: 200px;
padding-top: 40px;
padding-left: 10px
;}

#cover-text > h2, #cover-text > h3
{color: white;
    
    /* Footer */

#social-networks {text-align: center;
padding: 20 px 0;
display: flex;
justify-content: space-between;
list-style-type:none;}

#social-networks i {font-size: 160%;
padding:5%;
color:#3a3a3a;}

/* Reasons */

.reasons {margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
width: 90%;}

.reasons h2
{font-size: 280%;
    text-align: center;
    margin-bottom: 20px
;}

#benefits > p{padding-left: 20px; 
padding-right: 20px;}

hr {border: 1px solid;
margin-top: 5px;
margin-bottom: 5px;
color: #3a3a3a;}


#benefits-physical>div,
#benefits-mental>div {
    line-height: 20px;
    margin-bottom: 20px;
}


/*media query:tablets and larger */

@media screen and (min-width:768px){
nav {display: block;
position:relative;
box-shadow: none;
width:fit-content;
padding-right: 1rem;
}


}
/*large devices*/
@media screen and (min-width: 992px)
{
    #menu a:hover {border-bottom: 1px solid #3a3a3a;}
}
    
}